body
{
margin:0px;
padding: 0px;
background-color: black;
/* opacity: 0.8; */
/* overflow-x: hidden; */
}
.container
{
    overflow-x: hidden;
}
.container img{
   height: 120vh;
   width: 100%;
}
.bakground
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 120vh;
    background-color: black;
    opacity: 0.6;
    background-size: cover;
}
.netflix_entire_pages
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
}
/* Nav bar */
#netflix_logo
{
    height: 120px;
    width: 300px;
    float: left;
    /* margin-top:-50px; */
}

.nav_btn
{
    margin-top: 20px;
    float: right;
}
#langauge
{
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: black;
}
.signup
{
    border-radius: 5px;
    font-size: 20px;    
    width: 100px;
    height: 40px;
    border: none;
    margin-left: 20px;
    background-color:#E50914;
    color: white;
    margin-right: 20px;
    font-weight: bold;
}
.signup:hover{
    background-color:#c70c15;
}
/* Muiddle one including Email */
.middle_one{
    margin-top: 280px;
} 

.middle_one h1{
    color: white;
    font-size: 3.7rem;
    text-align: center;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 800;
}
.middle_one h2{
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    text-align: center;
    font-weight: 100;
    margin-top: -20px;
}
.middle_one h3
{
    color:white;
    font-size: 1.8rem;
    text-align: center;
    font-weight:100;
}
#form
{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}
#form input{
    border-radius: 7px;
    font-size: 20px;
    width: 70vh;
    height: 50px;
    background: black;
    padding-left: 10px;
    border: 1px solid white;
    opacity: 0.6;
    color: white;
}

#form button{
    border-radius: 7px;
    background-color:#E50914;
    border: none;
    font-size: 20px;
    color: white;
    width: 30vh;
    font-weight: bold;
    height: 55px;
    margin-left:15px ;
}

/* Container 2 */
.container2
{
    position: relative;
    background-color: black;
    opacity: 0.7;
    /* width: 100%; */
    height: 55vh;
    display: flex;
    /* justify-content: space-between; */
    padding: 70px;
}

.container2 .text
{
    padding: 30px;
}

.container2 .text h1
{
    font-size: 3.5rem;
    font-weight: 700;
    color: white;
    font-family:  Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.container2 .text h2{
    color: white;
    /* font-size: 3rem; */
}
.container2 .video
{
    /* padding: 30px; */
    width: 55%;
    height: 40vh;
    justify-content: center;
    border: 1px  solid black;
}
.container2 .video video{
    border: 4px  solid rgb(149, 148, 148);
}

.container3
{
    height: 10px;
    width: 100%;
    background-color: rgb(117, 116, 116);
    opacity: 0.5;
}

.container4
{
    position: relative;
    background-color: black;
    opacity: 0.7;
    /* width: 100%; */
    height: 130vh;
    
    /* justify-content: space-between; */
    padding: 70px;
}
.container4 h1{
    color: white;
    text-align: center;
    font-size: 4rem;
}
.all_question
{
    /* width: 100%; */
    height: 8vh;
    margin-top: 10px;
    background-color: rgb(83, 80, 80);
}
.all_question:hover{
    background-color: rgb(126, 125, 122);
}
.container4 .all_question
{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.container4 .all_question .question
{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-weight: 20;
}
.container4 .all_question i{
    color: white;
    font-size: 3rem;
    /* float:right; */
}

.container4 .answer h3{
    color: white;
    font-size: 2rem;
    font-weight: 10;
    padding: 0px 20px 0px 20px;
}
.container4 h3{
    color:white;
    font-size: 1.8rem;
    text-align: center;
    font-weight:100;
}

.container5
{
    position: relative;
    background-color: black;
    opacity: 0.7;
    height: 40vh;
    padding: 70px;
}
.container5 h2{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.container5 .number{
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}
.lists
{
    padding-right: 100px;
    display: flex;

}
.lists ul 
{
    margin-left: -100px;
}
.lists ul li{
    list-style-type: none;
    padding: 8px 70px 8px 70px;
    margin-right: 60px;
    
}
.lists ul li a{
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
}